<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Scraping With Mongoose</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <header>
  <h3><a href="/articles">Home</a>        |
      <a href="/scrape" id="scrape">Scrape New York Times</a>       |
      <a href="/savedArticle">Saved Articles</a>        |
      <a href="https://github.com/nithyasam/Web-Scraping">GitHub</a>
    </h3> 
    <h1 align="center">All the News That's Fit to Scrape</h1>
  </header>
  {{{body}}}
</body>
</html>